<%- include('../partials/header') -%>
<h2 class="ui header">
  <i class="calendar icon"></i>
  <div class="content">내 일정 <div class="sub header">나만의 여행을 계획하고 기록해보세요.</div>
  </div>
</h2>

<div class="ui stackable one column grid">
  <div class="column">
    <h3 class="ui header">일정 수정</h3>
    <form class="ui form" method="post" action="/user/plans/<%= plan._id %>/edit">
      <div class="field">
        <label>여행지</label>
        <input type="text" placeholder="<%= plan.city.name %>" disabled>
      </div>
      <div class="two fields">
        <div class="field">
          <label>시작일</label>
          <div class="ui calendar" id="rangestart">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Start" name="start_date" value="<%= plan.start_date %>">
            </div>
          </div>
        </div>
        <div class="field">
          <label>종료일</label>
          <div class="ui calendar" id="rangeend">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="End" name="end_date" value="<%= plan.end_date %>">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>내용</label>
        <textarea rows="2" placeholder="optional" name="content"><%= plan.content %></textarea>
      </div>
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="find_companion" <% if (plan.find_companion) { %>checked<% } %>>
          <label>동행 구함</label>
        </div>
      </div>
      <button class="ui button" type="submit">일정 수정</button>
      <a class="ui button" href="/user/plans">수정 취소</a>
    </form>
  </div>
</div>

<script>
$( document ).ready(function() {
  $('#city-selected-button')
    .popup()
  ;
  
  $('#rangestart').calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        return year + '-' + month + '-' + day;
      }
    },
    endCalendar: $('#rangeend')
  });
  $('#rangeend').calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        return year + '-' + month + '-' + day;
      }
    },
    startCalendar: $('#rangestart')
  });
});
</script>

<%- include('../partials/footer') -%>