<%- include('../partials/header-city') -%>
<%- include('../partials/errors') -%>

<h2 class="ui header">피드</h2>

<a class="ui button" href="/cities/<%= city.id %>">Back</a>

<div class="ui fluid card">
  <div class="content">
    <img class="left floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
    <div class="header">
      <a class="author" href="/travelers/<%= feed.traveler.username %>"><%= feed.traveler.name %></a>
      <% if (user && user.id == feed.traveler.id) { %>
        <div class="ui top right attached label">
          <a class="edit" href="/cities/<%= city.id %>/feeds/<%= feed.id %>/edit"><i class="pencil icon"></i></a>
          <a class="delete" href="/cities/<%= city.id %>/feeds/<%= feed.id %>/delete"><i class="trash icon"></i></a>
        </div>
      <% } %>
    </div>
    <div class="meta"><%= moment(feed.created_at).fromNow(); %></div>
    <div class="text"><%= feed.content %></div>
  </div>
</div>
<div class="ui comments">
  <h3 class="ui dividing header">Comments (<%= feed.comments.length %>)</h3>
      <% feed.comments.forEach(function(comment){ %>
        <div class="comment">
          <a class="avatar">
            <img src="http://semantic-ui.com/images/avatar/large/jenny.jpg">
          </a>
          <div class="content">
            <a class="author" href="/travelers/<%= comment.traveler.username %>"><b><%= comment.traveler.name %></b></a>
            <div class="metadata"><span class="date"><%= moment(comment.created_at).fromNow(); %></span></div>
            <div class="text"><%= comment.content %></div>
            <% if (user && user.id == comment.traveler.id) {%>
              <div class="action">
              <a class="delete" href="/cities/<%= city.id %>/feeds/<%= feed.id %>/comments/<%= comment.id %>/delete">delete</a>
              </div>
            <% } %>
          </div>
        </div>
      <% });%>
  
  <% if (user) { %>
  <form class="ui form" method="post" action="/cities/<%= city.id %>/feeds/<%= feed.id %>">
    <div class="field">
      <textarea name="content" placeholder="Add comment here" required></textarea>
    </div>
    <button class="ui teal labeled submit icon button" type="submit">
      <i class="icon edit"></i> Add Comment
    </button>
  </form>
  <% } else { %>
  <div class="ui bottom warning message">
    <i class="warning icon"></i>
    <a href="/auth/login">댓글을 작성하시려면 로그인이 필요합니다.</a>
  </div>
  <% } %>
</div>



<%- include('../partials/footer') -%>