<%- include('../partials/header') -%>
<h2 class="ui header">
  <i class="newspaper icon"></i>
  <div class="content"><%= page.name %> 페이지입니다.
  </div>
</h2>

<form class="ui form" method="post" action="/pages/<%= page.id %>/question">
<div class="ui fluid action input">
    <input type="text" name="content" placeholder="질문 작성...">
    <button class="ui submit button">올리기</button>
</div>
</form>

<% questions.forEach(function(question){ %>
  <a class="ui fluid card" href="/pages/<%= page.id %>/questions/<%= question.id %>">
    <div class="content">
      <img class="left floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
      <div class="header"><%= question.writer.name %></div>
      <div class="meta"><%= moment(question.created_at).fromNow(); %></div>
      <div class="description"><%= question.content %></div>
    </div>
    <div class="content"><i class="comment icon"></i><%= question.comments.length %> comments</div>
  </a>
<% }); %>

<div class="ui pagination menu">
  <% for ( var i = 1; i <= paging.pages; i++){ %>
    <% if (paging.page == i) {%>
      <a class="active item" href="/cities/<%= page.id %>?page=<%= i %>"><%= i %></a>
    <% } else { %>
      <a class="item" href="/cities/<%= page.id %>?page=<%= i %>"><%= i %></a>
    <% } %>
  <% } %>
</div>


<%- include('../partials/footer') -%>
